// colors
$avender-gray: #c7c6d2;
$bg-secondary: #aa381e;
$link-color: #bdb;
$splash-color: #d78d1d;
$black: #000;
$white: #fff;

// font types
$palatino: "Palatino", "URW Palladio L", serif;
$times: "Times New Roman", Times, serif;
$sanes: Arial, sans-serif;

// This is for the hamburger

// Make even for all (i.e. 6*2 == 3*2)
$icon-height: rem(6);
$icon-width: rem(22.5);
$icon-top: rem(15);
$icon-transform: rem(3);